@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body {
    font-family: "Sawarabi Mincho", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    border-bottom: 5px solid #ffd470; /* 下部のボーダー */
  }

  h1 a {
    text-decoration: none; /* 下線を削除 */
    color: #fff; /* ナビゲーションメニューの色 */
    font-size: 36px; /* タイトルのフォントサイズ */
    margin-bottom: 20px; /* タイトルの下に余白を追加 */
  }

  nav {
    text-decoration: none; /* 下線を削除 */
    color: inherit; /* 親要素の色を継承 */
    margin-left: 20px; /* 各項目の間に余白を追加 */
    font-size: 16px;
    display: inline-block; /* リンクをブロック要素として表示 */
  }

  nav a {
    text-decoration: none; /* 下線を削除 */
    color: #fff; /* ナビゲーションメニューの色 */
    margin-left: 20px; /* 各項目の間に余白を追加 */
    font-size: 20px; /* ナビゲーションメニューのフォントサイズ */
  }
  
  a:last-child {
    margin-right: 20px; /* 最後の項目に右側の余白を追加 */
  }

  section {
    margin: 100px 50px;
  }
  
  h2,
  #profile div,
  #profile a {
    display: flex;
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 水平方向に中央揃え */
    text-align: center; /* テキストを中央揃え */
  }
  
  #profile img {
    margin-bottom: 30px; /* 画像の下に余白 */
    max-width: 100%; /* 最大幅の設定 */
    height: auto;
  }

  #profile a {
    text-decoration: none; /* 下線を削除 */
    background-color: #FFA500;
    color: #fff;
    margin-left: 20px; /* 各項目の間に余白を追加 */
    font-size: 20px; /* ナビゲーションメニューのフォントサイズ */
  }

  #work {
    text-align: center; /* セクション内の要素を中央に配置 */
    margin: 100px auto; /* セクションの上下に余白を設定し、水平方向に中央揃え */
    background-color: #f2f2f2; /* 薄い灰色 */
    width: 100%; /* ページ幅いっぱいに広げる */
    height: 100%;
    max-width: none; /* コンテンツの最大幅を解除 */
  } 

  /*なんでulでいけてるかわかんないflexは適用されてないけど*/
  #work ul {
    text-align: center; /* セクション内の要素を中央に配置 */
    margin: 100px auto; /* セクションの上下に余白を設定し、水平方向に中央揃え */
    max-width: 600px; /* セクションの最大幅を設定 */
    display: flex;  /* フレックスボックスを使用してアイテムを横並びに配置 */
    list-style-type: none; /* リストのデフォルトのマーカーを削除 */
    justify-content: center; /* アイテムを中央に配置 */
    padding: 0;
  }

  #work img {
    margin: 30px 30px; /* 画像間の右側余白を設定 */
    margin-bottom: 30px; /* 画像の下側余白を設定 */
    max-width: calc(50% - 10px); /* 画像の幅を50%に設定し、マージンを考慮して調整 */
    height: auto; /* 高さを自動調整 */
    flex: 1; /* 画像が均等に横並びになるように指定 */
  }

  .container {
    display: flex;
  }

  #skills {
    text-align: center; /* セクション内の要素を中央に配置 */
    margin: 100px auto; /* セクションの上下に余白を設定し、水平方向に中央揃え */
    max-width: 600px; /* セクションの最大幅を設定 */
  } 

  #skills ul {
    text-align: center; /* セクション内の要素を中央に配置 */
    margin: 100px auto; /* セクションの上下に余白を設定し、水平方向に中央揃え */
    max-width: 600px; /* セクションの最大幅を設定 */
    display: flex; /* フレックスボックスを使用してアイテムを横並びに配置 */
    list-style-type: none; /* リストのデフォルトのマーカーを削除 */
    justify-content: center; /* アイテムを水平方向に中央揃え */
    padding: 0;
  }
  
  #skills ul {
    text-align: center; /* セクション内の要素を中央に配置 */
    margin: 100px auto; /* セクションの上下に余白を設定し、水平方向に中央揃え */
    max-width: 600px; /* セクションの最大幅を設定 */
    display: flex; /* フレックスボックスを使用してアイテムを横並びに配置 */
    list-style-type: none; /* リストのデフォルトのマーカーを削除 */
    padding: 0;
    justify-content: center; /* アイテムを水平方向に中央揃え */
  }
  
  #skills ul img {
    width: 150px; /* 画像の幅を調整 */
    margin: 0 10px 20px 10px; /* 左右に10pxの余白を追加し、下に20pxの余白を追加 */
  }

  #skills li {
    margin: 0 80px; /* 各スキルの画像間に余白を設定 */
  }

  #contact {
    text-align: center; /* セクション内の要素を中央に配置 */
    margin: 300px auto; /* セクションの上下に余白を設定し、水平方向に中央揃え */
    max-width: 600px; /* セクションの最大幅を設定 */
  }  

  #contact iframe {
    text-align: center; /* セクション内の要素を中央に配置 */
    margin: 0 auto; /* 左右の余白を自動調整して中央揃えにする */
    display: block; /* ブロック要素として表示 */
    border-width: 2px;
    border-style:  groove;
    border-color:  #FFA500;
  }
  
  #footer a {
    text-decoration: none; /* 下線を削除 */
    background-color: #ffa64d;
    color: #fff ;
    font-size: 20px; /* フッターのフォントサイズ */
    margin-right: 20px; /* 右側の余白を追加 */
  }
  
  footer {
    background-color: #fd7e00;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    bottom: 0;
    width: 100%;
  }
    